{% extends 'layout/base.html' %}

{% load django_bootstrap5 %}

{% block title %}Вход{% endblock %}

{% block content %}
<h1>Вход</h1>
{% if user.is_authenticated %}
<p>Вы уже выполнили вход</p>
{% else %}
<div style="width: 500px; border: 0.3px solid Silver; padding: 10px">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="next" value="{{next}}">
        {% bootstrap_button 'Войти' %}
    </form>
</div>
{% endif %}
{% endblock %}

