body {
    background-repeat: no-repeat;
}

main {
    min-height: 80vh;
}


.root {
    font-size: larger;
}

.social_logo {
    width: 30px;
    margin: 3px;
    padding: 2px;
}

.custom_form {
width: 500px;
border: 0.3px solid Silver;
padding: 10px;
border-radius: 5px;
}